
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/summary-checkpoint.csv
.ipynb_checkpoints/SimpleBirdDector-checkpoint.ipynb
.ipynb_checkpoints/Implementation-checkpoint.ipynb
.ipynb_checkpoints/BirdDetector_OLD2-checkpoint.ipynb
.ipynb_checkpoints/BirdDetector_OLD-checkpoint.ipynb
.ipynb_checkpoints/BirdDetector_BKP-checkpoint.ipynb
.ipynb_checkpoints/BirdDetector-Copy1-checkpoint.ipynb
.ipynb_checkpoints/BirdDetector-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/BirdDetector-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/BirdDetector-checkpoint.ipynb
logs/validation/events.out.tfevents.1701706880.DESKTOP-I9LGC6F.23488.1.v2
logs/validation/events.out.tfevents.1701702864.DESKTOP-I9LGC6F.6472.1.v2
logs/validation/events.out.tfevents.1701636442.DESKTOP-I9LGC6F.28104.1.v2
logs/train/events.out.tfevents.1701706800.DESKTOP-I9LGC6F.23488.0.v2
logs/train/events.out.tfevents.1701702791.DESKTOP-I9LGC6F.6472.0.v2
logs/train/events.out.tfevents.1701636366.DESKTOP-I9LGC6F.28104.0.v2
AIBirdDetector_sk.h5
checkpoint.h5
